.map-img {
  height: 100dvh;
  width: min(100dvw, var(--w-pc));
  padding: 1.6rem;
}
.map-lists {
  padding: 1.6rem;
  position: fixed;
  bottom: calc(1.6rem + env(safe-area-inset-bottom));
  left: 50%;
  transform: translate(-50%, 0);
  width: min(100dvw, var(--w-pc));
  z-index: 100;

  display: grid;
  grid-template-columns: repeat(8, calc(100% - 3.2rem));
  gap: 0.8rem;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  .list-item {
    box-shadow: 0 0 0.1rem #333;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 6rem 1fr;
    padding: 1.6rem;
    scroll-snap-align: center;
    width: 100%;

    .list-item-img {
      border: .2rem solid var(--c-primary);
      border-radius: 99rem;
      height: 6rem;
      width: 6rem;
      overflow: hidden;

      img {
        border: .2rem solid #fff;
        border-radius: 99rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
    .list-item-txt {
      .title {
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }
}
