#map {
  .map-icns {
    a {
      background-color: #fff;
      box-shadow: 0 0 0.1rem #333;
      border-radius: 0.5rem;
      display: block;
      height: 5rem;
      width: 5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        height: 100%;
        width: 100%;
        position: relative;

        &::before {
          background-color: #fff;
          box-shadow: 0 0 0.1rem #333;
          content: "";
          height: 2rem;
          width: 2rem;
          clip-path: polygon(0 0, 100% 0, 50% 100%);
          position: absolute;
          bottom: -1rem;
          left: 50%;
          transform: translate(-50%, 0);
          z-index: -1;
        }

        span {
          display: block;
          font-size: 2rem;
        }
      }
    }
    #east {
      top: 10%;
      left: 40%;
    }
    #north {
      top: 32%;
      left: 47%;
    }
    #west {
      top: 58%;
      left: 87%;
    }
  }
  .map-lists {
    padding: 0.8rem;
    position: fixed;
    bottom: calc(1.6rem + env(env(safe-area-inset-bottom)));
    left: 50%;
    transform: translate(-50%, 0);
    width: min(100dvw, var(--w-pc));
    z-index: 10;

    display: grid;
    grid-template-columns: repeat(8, calc(100% - 3.2rem));
    gap: 0.8rem;
    overflow: scroll hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    .list-item {
      box-shadow: 0 0 0.1rem #333;
      display: grid;
      grid-template-columns: 6rem 1fr;
      gap: 0.8rem;
      padding: 0.8rem;
      scroll-snap-align: center;

      .list-item-img {
        border: .2rem solid var(--c-primary);
        border-radius: 99rem;
        display: block;
        height: 6rem;
        width: 6rem;
        overflow: hidden;

        img {
          border: .2rem solid #fff;
          border-radius: 99rem;
          height: 100%;
          width: 100%;
          object-fit: cover;
          overflow: hidden;
        }
      }
      .list-item-txt {
        .title {
          font-size: 1.6rem;
          font-weight: 700;
        }
      }
    }
  }
}
